html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background: rgb(28, 109, 118);
  }
  
  #container{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(81, 80, 80, 0.75);
    background-color: white;
    padding: 2rem;
  }

  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }